.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(77, 0, 0);
}

.nav p{
    color: rgb(2, 146, 146);
    font-size: xx-large;
    font-weight: 900;
    margin: 0;
}

.nav button{
    margin-right: 40px;
    padding: 10px;
    cursor: pointer;
}